
Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @hybridselfpublishing5 Sign out
1
0 1 hybridselfpublishing5/hybridselfpublishing5.github.io
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
hybridselfpublishing5.github.io/animation/neuecode/css/style.css
@agusandreol agusandreol Update style.css
63cdfd0  18 seconds ago
@agusandreol @hybridselfpublishing5
154 lines (141 sloc)  3.54 KB
    
@font-face { font-family: 'meine-schrift';
             src: url('EBGaramond12-Regular.woff') format('truetype'); }@font-face { font-family: 'meine-schrift';
             src: url('EBGaramond12-Regular.woff') format('truetype'); }
body{
    font-family: 'meine-schrift', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
        text-align: justify;
    text-align: left;
}
#titel{
    font-size: 40px;
    position: absolute;
    top:1.5%;
    left:80px;
    color: #000;
}
#print {
 height: 40px;
 font-size: 18px;
 background-color: rgba(255, 255, 255, 0);
  width: 70px;
  border: none;
  color: #000;
  position: absolute;
  left:85%;
  top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 margin: 4px 2px;
  cursor: pointer;
    font-family: 'meine-schrift', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
        text-align: justify;
}

#main-slider-space {
	overflow:hidden;
	width:1000px;
	height:600px;
	background-color:#fff;
}

.slider-wrapper {
	position:relative;
	left:0;
	width:10000px;
	height:100%;
}

.main-slide {
	width:1000px;
	height:100%;
	float:left;
}


.slider-buttons {
    position:absolute;
    width:30px;
    height:30px;
}

.slider-buttons:hover { cursor:pointer; }

#main-slider-next {
font-size:22px;
    left:47%;
    top:80%;
}


p {
  padding-top: 2%;
   font-size:22px;
    text-align:left;
    width: 94%;
   margin-left: 4%;    
}

.e {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: .25em;
  padding: .25em .5em;
  text-decoration: none; 
  text-align: left;
}
a{
    margin-top: 30px;
    margin-left: 30px;
}
.m {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: .25em;
  padding: .25em .5em;
  text-decoration: none; 
}

.s0flip-box,.s1flip-box, .s2flip-box, .s3flip-box, .s4flip-box, .s5flip-box, .s6flip-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 700px;
  height: 400px;
  margin: auto;
 margin-top: 20%;
    margin-left: 30%;
  overflow: hidden;
  color: #000;
  border: 2px solid #fff;
  border-radius: .5em;
  display: block;
  text-align: center;
  -webkit-transition: 
    box-shadow .4s .45s, 
    -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 150px;
  -webkit-transform-origin: bottom;
}
[class^="s1flip-box-", "s2flip-box-", "s3flip-box-", "s4flip-box-", "s5flip-box-", "s6flip-box-"] {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 2em;
  z-index: 2;
  -webkit-perspective: 200px;
  -webkit-transition: opacity .25s .25s linear;
}

.s1flip-box-back, .s2flip-box-back, .s3flip-box-back, .s4flip-box-back, .s5flip-box-back, .s6flip-box-back {
  -webkit-transform: rotateX(180deg); 
  -webkit-transition: color .2s .5s, background .2s .5s ease-in-out, opacity .25s .4s linear;
  z-index: 1;
  opacity: 0;
 padding-top: 10%;
}
.s1flip-box.s1flipped, .s2flip-box.s2flipped, .s3flip-box.s3flipped, .s4flip-box.s4flipped, .s5flip-box.s5flipped, .s6flip-box.s6flipped {
  -webkit-transform: rotateX(180deg) translateY(400px) translateZ(40px);
}
.s1flipped .s1flip-box-front, .s2flipped .s2flip-box-front, .s3flipped .s3flip-box-front, .s4flipped .s4flip-box-front, .s5flipped .s5flip-box-front, .s6flipped .s6flip-box-front  {
   opacity: 0;
}
.s1flipped .s1flip-box-back, .s2flipped .s2flip-box-back, .s3flipped .s3flip-box-back, .s4flipped .s4flip-box-back, .s5flipped .s5flip-box-back, .s6flipped .s6flip-box-back  {
  color: #222;
  z-index: 3;
  opacity: 1;
   
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.
